<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JAGI</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="wrap">
    <header>
      <div id="logo">
        <img src="JAGI.png" width="175px" height="auto" alt="JAGI">
      </div>
      <div id="intro">
        대입 자기소개서<br>작성 도우미
      </div>
      <nav>
        <ul>
          <li><a href='#'>MAIN</a></li>
          <li><a href="#">JAGI LIST</a></li>
          <li><a href="#">DEVELOPERS</a></li>
        </ul>
      </nav>
    </header>
  </div>
</body>
</html>
